name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
    - name: Build Docker Image
      run: |
        docker build -t us157t/myapp:latest .
    - name: Push Dokcer Image
      run: | 
        docker push us157t/myapp:latest
    - name: Deploy to K8s
      run: |
        kubectl set image deployment/myapp-deployment \
          myapp=us157t/myapp:latest

